<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel='stylesheet', href='index.css')
  body
    header.header
      h1.header__title Core-relation
      nav.header__nav.nav
        a.nav__link.nav__link--left(href='#') Product
        a.nav__link(href='#') Pricing
        a.nav__link(href='#') Solutions
        a.nav__link(href='#') Log in
        a.nav__link.nav__link--blue(href='#') Sign up
    main.main